<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RetryCount" value="5" />
    <!-- number of minutes to cool down after a failed request -->
    <add key="CooldownPeriod" value="15" />
    <!-- number of minutes to set the request timeout -->
    <add key="Timeout" value="10" />
    <!-- remote address for the server -->
    <add key="RemoteHost" value="" />
    <!-- access key for remote service -->
    <add key="ApplicationKey" value="" />
    <!-- the filename for the certificate generated locally -->
    <add key="OutputFilename" value="client.pfx" />
  </appSettings>
</configuration>